.filters-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr; /* Una columna */
    grid-template-rows: auto auto; /* Dos filas automáticas */
    gap: 10px;
    
}


.filters-subcontainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
}


.filters-subcontainer-list{
    
}
.filters-button{
    width: 100%;
    color: white;
    background-color: black;
}


.filters-input{
    width: 100px;
}

.filters-checkbox{
    width: 100%;
    align-items: center;
}

.search{
    color: black!important;
}