.list-of-products-title{
    padding-left: 2em;
}
.list-of-products-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.list-of-products{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 32px!important;
}

.product-link{
    text-decoration: none;
}
.product{
    width: 240px;
    display: grid;
    gap: 32px!important;

}
.product-card{
    width: 240px;
    min-height: 450px;
    height: 450px;
    gap: 32px!important;

}

.product-image{
    min-height: 350px;
    height: 350px;
}